#pragma code_page(65001) // enable UTF-8

#include "resource.h"

LANGUAGE LANG_DANISH, SUBLANG_DANISH_DENMARK

STRINGTABLE
{
    // Windows 7 shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED "Anbefalede programmer"
    // Windows 7 shell32.dll string #29953
    IDS_OPENWITH_OTHERS "Andre programmer"
    // Windows XP shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED_XP "Anbefalede programmer:"
    // Windows XP shell32.dll string #29953
    IDS_OPENWITH_OTHERS_XP "Andre programmer:"
    // Split from Windows 7 shell32.dll string #9014
    IDS_PROGRAMSFILTER "Programmer"
    // Split from Windows 7 shell32.dll string #9014
    IDS_ALLFILESFILTER "Alle filer"
    // Windows 7 shell32.dll string #9016
    IDS_OPENAS "Åbn med..."
    // Windows Vista shell32.dll string #9016
    IDS_OPENAS_VISTA "Åbn med..."
}

// Windows 7 shell32.dll dialog #1063
DLG_OPENAS DIALOGEX 0, 0, 375, 271
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "Brug &altid det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på internettet</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE DIALOGEX 0, 0, 375, 271
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Angiv en &beskrivelse, du vil bruge til denne filtype:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "Brug altid &det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på internettet</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL DIALOGEX 0, 0, 375, 220
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne denne protokol med:", IDD_TEXT, 36, 7, 220, 8, NOT WS_GROUP
    LTEXT "Protokol:", IDC_STATIC, 36, 23, 32, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Brug altid det valgte program til at håndtere denne protokol", IDD_MAKEASSOC, 6, 185, 224, 10
    DEFPUSHBUTTON "OK", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 200, 50, 14
}

// Windows Vista shell32.dll dialog #1063
DLG_OPENAS_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "Brug &altid det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på World Wide Web</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Angiv en &beskrivelse, du vil bruge til denne filtype:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "Brug altid &det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på World Wide Web</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL_VISTA DIALOGEX 0, 0, 375, 220
CAPTION "Åbn med"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne denne protokol med:", IDD_TEXT, 36, 7, 220, 8, NOT WS_GROUP
    LTEXT "Protokol:", IDC_STATIC, 36, 23, 32, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Brug altid det valgte program til at håndtere denne protokol", IDD_MAKEASSOC, 6, 185, 224, 10
    DEFPUSHBUTTON "OK", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 318, 200, 50, 14
}

// Windows XP shell32.dll dialog #1063
DLG_OPENAS_XP DIALOGEX 0, 0, 260, 271
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 211, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "&Programmer", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "Brug &altid det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 18, 183, 201, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på World Wide Web</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "OK", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 194, 251, 50, 14
}

// Windows XP shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_XP DIALOGEX 0, 0, 260, 271
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne filen med:", IDD_TEXT, 36, 7, 211, 8, NOT WS_GROUP
    LTEXT "Fil:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "&Programmer", IDC_STATIC, 15, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 99, WS_EX_CLIENTEDGE
    LTEXT "Angiv en &beskrivelse, du vil bruge til denne filtype:", IDD_DESCRIPTIONTEXT, 18, 152, 195, 8
    EDITTEXT IDD_DESCRIPTION, 18, 163, 205, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "Brug altid &det valgte program til at åbne denne type fil", IDD_MAKEASSOC, 18, 183, 183, 10
    PUSHBUTTON "&Gennemse...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Hvis det program du vil have ikke findes på listen, kan du <A ID=""Browse"">søge efter programmet på World Wide Web</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "OK", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 194, 251, 50, 14
}

// Custom generated by an LLM for da-DK; protocol variant based on DLG_OPENAS_XP
DLG_OPENAS_PROTOCOL_XP DIALOGEX 0, 0, 260, 220
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Vælg det program, du vil bruge til at åbne denne protokol med:", IDD_TEXT, 36, 7, 211, 8, NOT WS_GROUP
    LTEXT "Protokol:", IDC_STATIC, 36, 23, 33, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 73, 23, 179, 8, SS_NOPREFIX
    GROUPBOX "&Programmer", IDC_STATIC, 6, 36, 245, 161
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "Brug &altid det valgte program til at åbne denne protokol", IDD_MAKEASSOC, 18, 183, 234, 10
    DEFPUSHBUTTON "OK", IDOK, 140, 200, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 194, 200, 50, 14
}
// Windows 2000 shell32.dll dialog #1063
DLG_OPENAS_2K DIALOGEX 0, 0, 211, 185
CAPTION "Åbn med..."
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 5, 7, 21, 20
    LTEXT "Klik på det program, du vil bruge til at åbne filen %s.\nHvis programmet ikke findes på listen, skal du klikke på Andre.", IDD_TEXT, 34, 7, 166, 37, NOT WS_GROUP
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 34, 49, 166, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 34, 60, 166, 80
    AUTOCHECKBOX "Brug &altid dette program til at åbne denne type fil", IDD_MAKEASSOC, 34, 146, 173, 10
    DEFPUSHBUTTON "OK", IDOK, 34, 164, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 92, 164, 50, 14
    PUSHBUTTON "A&ndre...", IDD_OPENWITH_BROWSE, 150, 164, 50, 14
}

// Windows 2000 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_2K DIALOGEX 0, 0, 212, 209
CAPTION "Åbn med..."
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 5, 7, 20, 20
    LTEXT "Klik på det program, du vil bruge til at åbne '%s'.\nKlik på Andre, hvis programmet ikke findes på listen.", IDD_TEXT, 34, 7, 172, 27
    LTEXT "&Beskrivelse af denne type filer:", IDD_DESCRIPTIONTEXT, 34, 39, 172, 8
    EDITTEXT IDD_DESCRIPTION, 34, 50, 172, 14, ES_AUTOHSCROLL
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 34, 70, 172, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 34, 81, 172, 80
    AUTOCHECKBOX "Brug altid &dette program til at åbne denne type fil", IDD_MAKEASSOC, 33, 166, 172, 10
    DEFPUSHBUTTON "OK", IDOK, 50, 188, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 104, 188, 50, 14
    PUSHBUTTON "A&ndre...", IDD_OPENWITH_BROWSE, 158, 188, 50, 14
}

// Custom generated by an LLM for da-DK; protocol variant based on DLG_OPENAS_2K
DLG_OPENAS_PROTOCOL_2K DIALOGEX 0, 0, 211, 185
CAPTION "Åbn med..."
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 5, 7, 21, 20
    LTEXT "Klik på det program, du vil bruge til at åbne protokollen %s.", IDD_TEXT, 34, 7, 166, 37, NOT WS_GROUP
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 34, 49, 166, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 34, 60, 166, 80
    AUTOCHECKBOX "Brug &altid dette program til at åbne denne protokol", IDD_MAKEASSOC, 34, 146, 173, 10
    DEFPUSHBUTTON "OK", IDOK, 96, 164, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 150, 164, 50, 14
}
// Windows 98 shell32.dll dialog #1063
DLG_OPENAS_NT4 DIALOG 0, 0, 217, 178
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 7, 36, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 202, 78
    LTEXT "Klik på det program, du skal bruge til at åbne filen %s.\nHvis programmet ikke findes på listen, skal du klikke på Andre.", IDD_TEXT, 7, 7, 198, 24, NOT WS_GROUP
    AUTOCHECKBOX "Brug &altid dette program til at åbne filer med dette filtypenavn", IDD_MAKEASSOC, 7, 131, 205, 10
    DEFPUSHBUTTON "OK", IDOK, 52, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Annuller", IDCANCEL, 106, 157, 50, 14
    PUSHBUTTON "A&ndre...", IDD_OPENWITH_BROWSE, 160, 157, 50, 14
}

// Windows 98 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_NT4 DIALOG 0, 0, 212, 209
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "Klik på det program, du skal bruge til at åbne filen %s.\nHvis programmet ikke findes på listen, skal du klikke på Andre.", IDD_TEXT, 7, 7, 199, 24, NOT WS_GROUP
    LTEXT "&Beskrivelse af %s-filer:", IDD_DESCRIPTIONTEXT, 7, 32, 169, 8
    EDITTEXT IDD_DESCRIPTION, 7, 45, 197, 14, ES_AUTOHSCROLL
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 7, 66, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 76, 197, 78
    AUTOCHECKBOX "Brug &altid dette program til at åbne denne fil", IDD_MAKEASSOC, 7, 161, 198, 10
    DEFPUSHBUTTON "OK", IDOK, 47, 187, 50, 14, WS_DISABLED
    PUSHBUTTON "Annuller", IDCANCEL, 101, 187, 49, 14
    PUSHBUTTON "A&ndre...", IDD_OPENWITH_BROWSE, 155, 187, 50, 14
}

// Custom generated by an LLM for da-DK; protocol variant based on DLG_OPENAS_NT4
DLG_OPENAS_PROTOCOL_NT4 DIALOG 0, 0, 232, 178
CAPTION "Åbn med"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Vælg det program, du vil bruge:", IDC_STATIC, 7, 36, 184, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 217, 78
    LTEXT "Klik på det program, du skal bruge til at åbne protokollen %s.", IDD_TEXT, 7, 7, 213, 24, NOT WS_GROUP
    AUTOCHECKBOX "Brug &altid dette program til at åbne denne protokol", IDD_MAKEASSOC, 7, 131, 220, 10
    DEFPUSHBUTTON "OK", IDOK, 121, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Annuller", IDCANCEL, 175, 157, 50, 14
}