#pragma code_page(65001) // enable UTF-8

#include "resource.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

STRINGTABLE
{
    // Windows 7 shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED "Рекомендуемые программы"
    // Windows 7 shell32.dll string #29953
    IDS_OPENWITH_OTHERS "Другие программы"
    // Windows XP shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED_XP "Рекомендуемые программы:"
    // Windows XP shell32.dll string #29953
    IDS_OPENWITH_OTHERS_XP "Другие программы:"
    // Split from Windows 7 shell32.dll string #9014
    IDS_PROGRAMSFILTER "Программы"
    // Split from Windows 7 shell32.dll string #9014
    IDS_ALLFILESFILTER "Все файлы"
    // Windows 7 shell32.dll string #9016
    IDS_OPENAS "Открыть с помощью..."
    // Windows Vista shell32.dll string #9016
    IDS_OPENAS_VISTA "Открыть с помощью..."
}

// Windows 7 shell32.dll dialog #1063
DLG_OPENAS DIALOGEX 0, 0, 375, 271
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла:", IDD_TEXT, 36, 7, 329, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 24, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 64, 23, 300, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "&Использовать выбранную программу для всех файлов такого типа", IDD_MAKEASSOC, 6, 211, 300, 10
    PUSHBUTTON "&Обзор...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 17
    DEFPUSHBUTTON "ОК", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE DIALOGEX 0, 0, 375, 271
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла:", IDD_TEXT, 36, 7, 329, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 24, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 64, 23, 299, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Введите &описание для этого типа файлов:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Использовать выбранную программу для всех файлов такого типа", IDD_MAKEASSOC, 6, 211, 306, 10
    PUSHBUTTON "О&бзор...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 17
    DEFPUSHBUTTON "ОК", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL DIALOGEX 0, 0, 375, 220
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого протокола:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Протокол:", IDC_STATIC, 36, 23, 36, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 76, 23, 273, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Всегда использовать эту программу для этого протокола", IDD_MAKEASSOC, 6, 185, 361, 10
    DEFPUSHBUTTON "ОК", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 200, 50, 14
}

// Windows Vista shell32.dll dialog #1063
DLG_OPENAS_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла:", IDD_TEXT, 36, 7, 329, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 24, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 64, 23, 300, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "&Использовать выбранную программу для всех файлов такого типа", IDD_MAKEASSOC, 6, 211, 300, 10
    PUSHBUTTON "&Обзор...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 17
    DEFPUSHBUTTON "ОК", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла:", IDD_TEXT, 36, 7, 329, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 24, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 64, 23, 299, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Введите &описание для этого типа файлов:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Использовать выбранную программу для всех файлов такого типа", IDD_MAKEASSOC, 6, 211, 306, 10
    PUSHBUTTON "О&бзор...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 17
    DEFPUSHBUTTON "ОК", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL_VISTA DIALOGEX 0, 0, 375, 220
CAPTION "Выбор программы"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого протокола:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Протокол:", IDC_STATIC, 36, 23, 36, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 76, 23, 273, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Всегда использовать эту программу для этого протокола", IDD_MAKEASSOC, 6, 185, 361, 10
    DEFPUSHBUTTON "ОК", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 318, 200, 50, 14
}

// Windows XP shell32.dll dialog #1063
DLG_OPENAS_XP DIALOGEX 0, 0, 260, 271
CAPTION "Выбор программы"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла.", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 22, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 62, 23, 189, 8, SS_NOPREFIX
    GROUPBOX "&Программы", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "&Использовать ее для всех файлов такого типа", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "&Обзор...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 18
    DEFPUSHBUTTON "ОК", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 194, 251, 50, 14
}

// Windows XP shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_XP DIALOGEX 0, 0, 260, 271
CAPTION "Выбор программы"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 20, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого файла.", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Файл:", IDC_STATIC, 36, 23, 23, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 62, 23, 190, 8, SS_NOPREFIX
    GROUPBOX "&Программы", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 99, WS_EX_CLIENTEDGE
    LTEXT "Введите &описание для этого типа файлов:", IDD_DESCRIPTIONTEXT, 18, 152, 195, 8
    EDITTEXT IDD_DESCRIPTION, 18, 163, 225, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Использовать ее для всех файлов такого типа", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "О&бзор...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Если нужная программа отсутствует на этом компьютере, можно выполнить <A ID=""Browse"">поиск программы в Интернете</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "ОК", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 194, 251, 50, 14
}

// Custom generated by an LLM for ru-RU; protocol variant based on DLG_OPENAS_XP
DLG_OPENAS_PROTOCOL_XP DIALOGEX 0, 0, 260, 220
CAPTION "Выбор программы"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Выберите программу для открытия этого протокола.", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Протокол:", IDC_STATIC, 36, 23, 39, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 79, 23, 173, 8, SS_NOPREFIX
    GROUPBOX "&Программы", IDC_STATIC, 6, 36, 245, 161
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "&Использовать ее для этого протокола", IDD_MAKEASSOC, 18, 183, 234, 10
    DEFPUSHBUTTON "ОК", IDOK, 140, 200, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 194, 200, 50, 14
}
// Windows 2000 shell32.dll dialog #1063
DLG_OPENAS_2K DIALOGEX 0, 0, 221, 175
CAPTION "Выбор программы"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "Выберите программу для открытия файла ""%s"". \nЕсли ее нет в списке, нажмите кнопку ""Другая"".", IDD_TEXT, 36, 7, 180, 25, NOT WS_GROUP
    LTEXT "&Список программ:", IDC_STATIC, 36, 39, 178, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 50, 178, 80
    AUTOCHECKBOX "&Использовать ее для всех файлов такого типа", IDD_MAKEASSOC, 36, 136, 176, 10
    DEFPUSHBUTTON "ОК", IDOK, 36, 154, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 100, 154, 50, 14
    PUSHBUTTON "&Другая...", IDD_OPENWITH_BROWSE, 164, 154, 50, 14
}

// Windows 2000 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_2K DIALOGEX 0, 0, 220, 210
CAPTION "Выбор программы..."
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 20, 20
    LTEXT "Выберите программу для открытия файла ""%s"". \nЕсли ее нет в списке, нажмите кнопку ""Другая"".", IDD_TEXT, 36, 7, 178, 25
    LTEXT "&Описание этого типа файлов:", IDD_DESCRIPTIONTEXT, 36, 39, 172, 8
    EDITTEXT IDD_DESCRIPTION, 36, 50, 177, 14, ES_AUTOHSCROLL
    LTEXT "В&ыберите используемую программу:", IDC_STATIC, 36, 70, 172, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 81, 177, 80
    AUTOCHECKBOX "Использовать ее для &всех файлов такого типа", IDD_MAKEASSOC, 36, 166, 177, 10
    DEFPUSHBUTTON "ОК", IDOK, 55, 188, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 109, 188, 50, 14
    PUSHBUTTON "&Другая...", IDD_OPENWITH_BROWSE, 163, 188, 50, 14
}

// Custom generated by an LLM for ru-RU; protocol variant based on DLG_OPENAS_2K
DLG_OPENAS_PROTOCOL_2K DIALOGEX 0, 0, 221, 175
CAPTION "Выбор программы"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "Выберите программу для открытия протокола ""%s"".", IDD_TEXT, 36, 7, 180, 25, NOT WS_GROUP
    LTEXT "&Список программ:", IDC_STATIC, 36, 39, 178, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 50, 178, 80
    AUTOCHECKBOX "&Использовать ее для этого протокола", IDD_MAKEASSOC, 36, 136, 176, 10
    DEFPUSHBUTTON "ОК", IDOK, 110, 154, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 164, 154, 50, 14
}
// Windows 98 shell32.dll dialog #1063
DLG_OPENAS_NT4 DIALOG 0, 0, 212, 179
CAPTION "Открыть с помощью"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Выберите используемую программу:", IDC_STATIC, 7, 36, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 197, 78
    LTEXT "Выберите программу, с помощью которой следует открывать файл '%s'. Если она отсутствует в списке, нажмите кнопку ""Другая"".", IDD_TEXT, 7, 7, 198, 24, NOT WS_GROUP
    AUTOCHECKBOX "Всегда &использовать выбранную программу", IDD_MAKEASSOC, 7, 131, 198, 10
    DEFPUSHBUTTON "ОК", IDOK, 47, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Отмена", IDCANCEL, 101, 157, 50, 14
    PUSHBUTTON "&Другая...", IDD_OPENWITH_BROWSE, 155, 157, 50, 14
}

// Windows 98 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_NT4 DIALOG 0, 0, 212, 209
CAPTION "Открыть с помощью"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "Выберите программу, с помощью которой следует открывать файл '%s'. Если она отсутствует в списке, нажмите кнопку ""Другая"".", IDD_TEXT, 7, 7, 199, 26, NOT WS_GROUP
    LTEXT "&Описание файлов '%s':", IDD_DESCRIPTIONTEXT, 7, 36, 169, 8
    EDITTEXT IDD_DESCRIPTION, 7, 47, 197, 14, ES_AUTOHSCROLL
    LTEXT "&Выберите используемую программу:", IDC_STATIC, 7, 68, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 78, 197, 78
    AUTOCHECKBOX "Всегда &использовать выбранную программу", IDD_MAKEASSOC, 7, 163, 198, 10
    DEFPUSHBUTTON "ОК", IDOK, 47, 187, 50, 14, WS_DISABLED
    PUSHBUTTON "Отмена", IDCANCEL, 101, 187, 49, 14
    PUSHBUTTON "&Другая...", IDD_OPENWITH_BROWSE, 155, 187, 50, 14
}

// Custom generated by an LLM for ru-RU; protocol variant based on DLG_OPENAS_NT4
DLG_OPENAS_PROTOCOL_NT4 DIALOG 0, 0, 232, 179
CAPTION "Открыть с помощью"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Выберите используемую программу:", IDC_STATIC, 7, 36, 189, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 217, 78
    LTEXT "Выберите программу, с помощью которой следует открывать протокол '%s'.", IDD_TEXT, 7, 7, 218, 24, NOT WS_GROUP
    AUTOCHECKBOX "Всегда &использовать выбранную программу для этого протокола", IDD_MAKEASSOC, 7, 131, 218, 10
    DEFPUSHBUTTON "ОК", IDOK, 121, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Отмена", IDCANCEL, 175, 157, 50, 14
}