#pragma code_page(65001) // enable UTF-8

#include "resource.h"

LANGUAGE LANG_ESTONIAN, SUBLANG_ESTONIAN_ESTONIA

STRINGTABLE
{
    // Windows 7 shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED "Soovitatavad programmid"
    // Windows 7 shell32.dll string #29953
    IDS_OPENWITH_OTHERS "Muud programmid"
    // Windows XP shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED_XP "Soovitatavad programmid:"
    // Windows XP shell32.dll string #29953
    IDS_OPENWITH_OTHERS_XP "Muud programmid:"
    // Split from Windows 7 shell32.dll string #9014
    IDS_PROGRAMSFILTER "Programmid"
    // Split from Windows 7 shell32.dll string #9014
    IDS_ALLFILESFILTER "Kõik failid"
    // Windows 7 shell32.dll string #9016
    IDS_OPENAS "Ava programmiga..."
    // Windows Vista shell32.dll string #9016
    IDS_OPENAS_VISTA "Ava programmiga..."
}

// Windows 7 shell32.dll dialog #1063
DLG_OPENAS DIALOGEX 0, 0, 375, 271
CAPTION "Avamine programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE DIALOGEX 0, 0, 375, 271
CAPTION "Avamine programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Sisestage kirjel&dus, mida soovite seda tüüpi faili puhul kasutada:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL DIALOGEX 0, 0, 375, 220
CAPTION "Avamine programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle protokolli avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Protokoll:", IDC_STATIC, 36, 23, 32, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Töötle seda protokolli alati valitud programmi abil", IDD_MAKEASSOC, 6, 185, 202, 10
    DEFPUSHBUTTON "OK", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 200, 50, 14
}

// Windows Vista shell32.dll dialog #1063
DLG_OPENAS_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Ava programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "Ava programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "Tippige kirjel&dus, mida soovite seda tüüpi faili puhul kasutada:", IDD_DESCRIPTIONTEXT, 6, 182, 361, 8
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "OK", IDOK, 264, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL_VISTA DIALOGEX 0, 0, 375, 220
CAPTION "Ava programmiga"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle protokolli avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Protokoll:", IDC_STATIC, 36, 23, 32, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "&Käsitse seda protokolli alati valitud programmi kasutades", IDD_MAKEASSOC, 6, 185, 202, 10
    DEFPUSHBUTTON "OK", IDOK, 264, 200, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 318, 200, 50, 14
}

// Windows XP shell32.dll dialog #1063
DLG_OPENAS_XP DIALOGEX 0, 0, 260, 271
CAPTION "Programmiga avamine"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "&Programmid", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "OK", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 194, 251, 50, 14
}

// Windows XP shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_XP DIALOGEX 0, 0, 260, 271
CAPTION "Programmiga avamine"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Fail:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "&Programmid", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 99, WS_EX_CLIENTEDGE
    LTEXT "Tippige kirjel&dus, mida soovite seda tüüpi faili puhul kasutada:", IDD_DESCRIPTIONTEXT, 18, 152, 195, 8
    EDITTEXT IDD_DESCRIPTION, 18, 163, 205, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "Kui soovitud programmi pole loendis või teie arvutis, võite <A ID=""Browse"">otsida sobivat programmi veebist</A>.", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "OK", IDOK, 140, 251, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 194, 251, 50, 14
}

// Custom generated by an LLM for et-EE; protocol variant based on DLG_OPENAS_XP
DLG_OPENAS_PROTOCOL_XP DIALOGEX 0, 0, 260, 220
CAPTION "Programmiga avamine"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "Valige programm, mille abil soovite selle protokolli avada:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "Protokoll:", IDC_STATIC, 36, 23, 34, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 74, 23, 178, 8, SS_NOPREFIX
    GROUPBOX "&Programmid", IDC_STATIC, 6, 36, 245, 161
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "&Kasuta selle protokolli jaoks alati valitud programmi", IDD_MAKEASSOC, 18, 183, 234, 10
    DEFPUSHBUTTON "OK", IDOK, 140, 200, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 194, 200, 50, 14
}
// Custom generated by an LLM for et-EE; based on the Windows 2000 English dialog #1063
DLG_OPENAS_2K DIALOGEX 0, 0, 201, 175
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 158, 27, NOT WS_GROUP
    LTEXT "Programmid", IDC_STATIC, 36, 39, 158, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 50, 158, 80
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 36, 136, 151, 10
    DEFPUSHBUTTON "OK", IDOK, 36, 154, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 90, 154, 50, 14
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 144, 154, 50, 14
}

// Custom generated by an LLM for et-EE; based on the Windows 2000 English dialog #1070
DLG_OPENAS_NOTYPE_2K DIALOGEX 0, 0, 215, 209
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 20, 20
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 36, 7, 172, 27
    LTEXT "&Description for files of this type:", IDD_DESCRIPTIONTEXT, 36, 39, 172, 8
    EDITTEXT IDD_DESCRIPTION, 36, 50, 172, 14, ES_AUTOHSCROLL
    LTEXT "Programmid", IDC_STATIC, 36, 70, 172, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 81, 172, 80
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 36, 166, 172, 10
    DEFPUSHBUTTON "OK", IDOK, 50, 188, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 104, 188, 50, 14
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 158, 188, 50, 14
}

// Custom generated by an LLM for et-EE; protocol variant based on DLG_OPENAS_2K
DLG_OPENAS_PROTOCOL_2K DIALOGEX 0, 0, 201, 175
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "Klõpsake programmi, mille abil soovite protokolli ""%s"" avada.", IDD_TEXT, 36, 7, 158, 27, NOT WS_GROUP
    LTEXT "Programmid", IDC_STATIC, 36, 39, 158, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 36, 50, 158, 80
    AUTOCHECKBOX "&Kasuta seda programmi alati selle protokolli jaoks", IDD_MAKEASSOC, 36, 136, 151, 10
    DEFPUSHBUTTON "OK", IDOK, 90, 154, 50, 14
    PUSHBUTTON "Loobu", IDCANCEL, 144, 154, 50, 14
}
// Custom generated by an LLM for et-EE; based on the Windows 98 English dialog #1063
DLG_OPENAS_NT4 DIALOG 0, 0, 212, 179
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "Programmid", IDC_STATIC, 7, 36, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 197, 78
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 7, 7, 198, 24, NOT WS_GROUP
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 7, 131, 198, 10
    DEFPUSHBUTTON "OK", IDOK, 47, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Loobu", IDCANCEL, 101, 157, 50, 14
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 155, 157, 50, 14
}

// Custom generated by an LLM for et-EE; based on the Windows 98 English dialog #1070
DLG_OPENAS_NOTYPE_NT4 DIALOG 0, 0, 212, 209
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "Valige programm, mille abil soovite selle faili avada:", IDD_TEXT, 7, 7, 199, 24, NOT WS_GROUP
    LTEXT "&Description of '%s' files:", IDD_DESCRIPTIONTEXT, 7, 32, 169, 8
    EDITTEXT IDD_DESCRIPTION, 7, 45, 197, 14, ES_AUTOHSCROLL
    LTEXT "Programmid", IDC_STATIC, 7, 66, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 76, 197, 78
    AUTOCHECKBOX "&Ava seda tüüpi fail alati valitud programmiga", IDD_MAKEASSOC, 7, 161, 198, 10
    DEFPUSHBUTTON "OK", IDOK, 47, 187, 50, 14, WS_DISABLED
    PUSHBUTTON "Loobu", IDCANCEL, 101, 187, 49, 14
    PUSHBUTTON "&Sirvi...", IDD_OPENWITH_BROWSE, 155, 187, 50, 14
}

// Custom generated by an LLM for et-EE; protocol variant based on DLG_OPENAS_NT4
DLG_OPENAS_PROTOCOL_NT4 DIALOG 0, 0, 232, 179
CAPTION "Avamine programmiga"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
{
    LTEXT "Programmid", IDC_STATIC, 7, 36, 189, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 217, 78
    LTEXT "Klõpsake programmi, mille abil soovite protokolli ""%s"" avada.", IDD_TEXT, 7, 7, 218, 24, NOT WS_GROUP
    AUTOCHECKBOX "&Kasuta seda programmi alati selle protokolli jaoks", IDD_MAKEASSOC, 7, 131, 218, 10
    DEFPUSHBUTTON "OK", IDOK, 121, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "Loobu", IDCANCEL, 175, 157, 50, 14
}