#pragma code_page(65001) // enable UTF-8

#include "resource.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
{
    // Windows 7 shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED "建議的程式"
    // Windows 7 shell32.dll string #29953
    IDS_OPENWITH_OTHERS "其他程式"
    // Windows XP shell32.dll string #29952
    IDS_OPENWITH_RECOMMENDED_XP "建議的程式:"
    // Windows XP shell32.dll string #29953
    IDS_OPENWITH_OTHERS_XP "其他程式:"
    // Split from Windows 7 shell32.dll string #9014
    IDS_PROGRAMSFILTER "程式"
    // Split from Windows 7 shell32.dll string #9014
    IDS_ALLFILESFILTER "所有檔案"
    // Windows 7 shell32.dll string #9016
    IDS_OPENAS "開啟檔案..."
    // Windows Vista shell32.dll string #9016
    IDS_OPENAS_VISTA "開啟檔案..."
}

// Windows 7 shell32.dll dialog #1063
DLG_OPENAS DIALOGEX 0, 0, 375, 271
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 9, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 9, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "確定", IDOK, 264, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE DIALOGEX 0, 0, 375, 271
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 9, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 9, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "輸入這種類型的檔案描述(&D):", IDD_DESCRIPTIONTEXT, 6, 182, 361, 9
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "確定", IDOK, 264, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 251, 50, 14
}

// Windows 7 shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL DIALOGEX 0, 0, 375, 220
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇要用來開啟此通訊協定的程式:", IDD_TEXT, 36, 7, 208, 9, NOT WS_GROUP
    LTEXT "通訊協定:", IDC_STATIC, 36, 22, 35, 9, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "永遠使用選取的程式處理此通訊協定(&A)", IDD_MAKEASSOC, 6, 185, 202, 10
    DEFPUSHBUTTON "確定", IDOK, 264, 200, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 200, 50, 14
}


// Windows 7 shell32.dll dialog #1091
DLG_OPENAS_DOWNALOAD DIALOGEX 0, 0, 279, 146
CAPTION "Windows"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "Windows 無法開啟這個檔案:", IDC_STATIC, 36, 7, 208, 9, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 9, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    LTEXT "若要開啟這個檔案，Windows 必須知道您想要使用哪個程式來開啟它。Windows 可以連線以自動搜尋該程式，也可以手動從電腦上安裝的程式清單進行選取。", IDC_STATIC, 9, 39, 257, 24, NOT WS_GROUP
    LTEXT "您要做什麼?", IDC_STATIC, 9, 72, 139, 9, NOT WS_GROUP
    AUTORADIOBUTTON "使用 Web 服務，尋找正確程式(&W)", IDD_WEBAUTOLOOKUP, 9, 86, 194, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "從已安裝程式的清單選取程式(&S)", IDD_OPENWITHLIST, 9, 99, 194, 10, WS_TABSTOP
    DEFPUSHBUTTON "確定", IDOK, 156, 121, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 211, 121, 50, 14
}

// Windows Vista shell32.dll dialog #1063
DLG_OPENAS_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "確定", IDOK, 264, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_VISTA DIALOGEX 0, 0, 375, 271
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    LTEXT "輸入這種類型的檔案描述(&D):", IDD_DESCRIPTIONTEXT, 6, 182, 361, 9
    EDITTEXT IDD_DESCRIPTION, 6, 193, 346, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 6, 211, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 318, 211, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 230, 359, 16
    DEFPUSHBUTTON "確定", IDOK, 264, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 251, 50, 14
}

// Windows Vista shell32.dll dialog #1072
DLG_OPENAS_PROTOCOL_VISTA DIALOGEX 0, 0, 375, 220
CAPTION "開啟檔案"
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "選擇要用來開啟此通訊協定的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "通訊協定:", IDC_STATIC, 36, 23, 35, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 70, 23, 208, 8, SS_NOPREFIX
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOSORTHEADER | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
    AUTOCHECKBOX "永遠使用選取的程式處理此通訊協定(&A)", IDD_MAKEASSOC, 6, 185, 202, 10
    DEFPUSHBUTTON "確定", IDOK, 264, 200, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 318, 200, 50, 14
}

// Windows XP shell32.dll dialog #1063
DLG_OPENAS_XP DIALOGEX 0, 0, 260, 271
CAPTION "開啟檔案"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "程式(&P)", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "確定", IDOK, 140, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 194, 251, 50, 14
}

// Windows XP shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_XP DIALOGEX 0, 0, 260, 271
CAPTION "開啟檔案"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個檔案的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    GROUPBOX "程式(&P)", IDC_STATIC, 6, 36, 245, 181
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 99, WS_EX_CLIENTEDGE
    LTEXT "輸入這種類型的檔案描述(&D):", IDD_DESCRIPTIONTEXT, 18, 152, 195, 9
    EDITTEXT IDD_DESCRIPTION, 18, 163, 205, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "永遠用選取的程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 18, 183, 202, 10
    PUSHBUTTON "瀏覽(&B)...", IDD_OPENWITH_BROWSE, 194, 196, 50, 14
    CONTROL "如果程式不在清單中或不在您的電腦上，您可以<A ID=""Browse"">從網路上尋找適當的程式</A>。", IDD_OPENWITH_WEBSITE, "SysLink", WS_TABSTOP, 8, 222, 242, 16
    DEFPUSHBUTTON "確定", IDOK, 140, 251, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 194, 251, 50, 14
}

// Custom generated by an LLM for zh-TW; protocol variant based on DLG_OPENAS_XP
DLG_OPENAS_PROTOCOL_XP DIALOGEX 0, 0, 260, 220
CAPTION "開啟通訊協定"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 20, SS_REALSIZECONTROL
    LTEXT "選擇您想要用來開啟這個通訊協定的程式:", IDD_TEXT, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "通訊協定:", IDC_STATIC, 36, 23, 34, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 74, 23, 178, 8, SS_NOPREFIX
    GROUPBOX "程式(&P)", IDC_STATIC, 6, 36, 245, 161
    CONTROL "", IDD_APPLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_TABSTOP, 16, 49, 225, 129, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "永遠用選取的程式來處理這個通訊協定(&A)", IDD_MAKEASSOC, 18, 183, 234, 10
    DEFPUSHBUTTON "確定", IDOK, 140, 200, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 194, 200, 50, 14
}

// Windows XP shell32.dll dialog #1091
DLG_OPENAS_DOWNALOAD_XP DIALOGEX 0, 0, 279, 146
CAPTION "Windows"
STYLE DS_CONTEXTHELP | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 22, SS_REALSIZECONTROL
    LTEXT "Windows 無法開啟這個檔案:", IDC_STATIC, 36, 7, 208, 8, NOT WS_GROUP
    LTEXT "檔案:", IDC_STATIC, 36, 23, 20, 8, NOT WS_GROUP
    LTEXT "", IDD_FILE_TEXT, 60, 23, 208, 8, SS_NOPREFIX
    LTEXT "要開啟這個檔案，Windows 需要知道它是由哪個程式建立的。Windows 可以到線上自動搜尋，或您可以用手動方式從您電腦上的程式清單選取。", IDC_STATIC, 9, 39, 257, 24, NOT WS_GROUP
    LTEXT "要如何做?", IDC_STATIC, 9, 72, 139, 8, NOT WS_GROUP
    AUTORADIOBUTTON "使用網路服務，尋找適當程式(&W)", IDD_WEBAUTOLOOKUP, 9, 86, 194, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "從清單選取程式(&S)", IDD_OPENWITHLIST, 9, 99, 194, 10, WS_TABSTOP
    DEFPUSHBUTTON "確定", IDOK, 156, 121, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 211, 121, 50, 14
}

// Windows 2000/Me shell32.dll dialog #1063
DLG_OPENAS_2K DIALOGEX 0, 0, 201, 164
CAPTION "開啟"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "請按一下要用來開啟 '%s' 的程式。\n如果要用的程式不在清單中，請按 [其它]。", IDD_TEXT, 31, 7, 163, 16, NOT WS_GROUP
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 31, 29, 158, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 31, 43, 164, 80
    AUTOCHECKBOX "永遠用這個程式來開啟這種檔案(&A)", IDD_MAKEASSOC, 31, 128, 144, 10
    DEFPUSHBUTTON "確定", IDOK, 37, 145, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 91, 145, 50, 14
    PUSHBUTTON "其它(&T)...", IDD_OPENWITH_BROWSE, 145, 145, 50, 14
}

// Windows 2000/Me shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_2K DIALOGEX 0, 0, 215, 207
CAPTION "開啟檔案..."
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 20, 20
    LTEXT "按一下您要用來開啟 '%s' 的程式。\n如果未列出該程式，則請選擇 [其它]。", IDD_TEXT, 36, 7, 172, 27
    LTEXT "這種檔案類型的說明(&D):", IDD_DESCRIPTIONTEXT, 8, 39, 172, 8
    EDITTEXT IDD_DESCRIPTION, 7, 52, 197, 14, ES_AUTOHSCROLL
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 8, 73, 172, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 87, 197, 78
    AUTOCHECKBOX "永遠用這個程式來開啟這個檔案(&A)", IDD_MAKEASSOC, 6, 173, 172, 10
    DEFPUSHBUTTON "確定", IDOK, 47, 190, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 101, 190, 49, 14
    PUSHBUTTON "其它(&T)...", IDD_OPENWITH_BROWSE, 155, 189, 50, 14
}

// Custom generated by an LLM for zh-TW; protocol variant based on DLG_OPENAS_2K
DLG_OPENAS_PROTOCOL_2K DIALOGEX 0, 0, 201, 164
CAPTION "開啟"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "新細明體", 0, 0, 136 // CHINESEBIG5_CHARSET
{
    ICON 134, IDD_ICON, 7, 7, 21, 20
    LTEXT "請按一下要用來開啟通訊協定 '%s' 的程式。", IDD_TEXT, 31, 7, 163, 16, NOT WS_GROUP
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 31, 29, 158, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 31, 43, 164, 80
    AUTOCHECKBOX "永遠用這個程式來處理這個通訊協定(&A)", IDD_MAKEASSOC, 31, 128, 144, 10
    DEFPUSHBUTTON "確定", IDOK, 91, 145, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 145, 145, 50, 14
}

// Windows 95/98/NT 4.0 shell32.dll dialog #1063
DLG_OPENAS_NT4 DIALOG 0, 0, 212, 179
CAPTION "開啟檔案"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 9, "新細明體"
{
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 7, 36, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 197, 78
    LTEXT "按一下要用來開啟 '%s"" 這個檔案的程式。\n如果要用的程式不在清單中，請按「其它」。", IDD_TEXT, 7, 7, 198, 24, NOT WS_GROUP
    AUTOCHECKBOX "永遠用這個程式來開啟這種檔案(&U)", IDD_MAKEASSOC, 7, 131, 198, 10
    DEFPUSHBUTTON "確定", IDOK, 47, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "取消", IDCANCEL, 101, 157, 50, 14
    PUSHBUTTON "其它(&T)...", IDD_OPENWITH_BROWSE, 155, 157, 50, 14
}

// Windows 95/98/NT 4.0 shell32.dll dialog #1070
DLG_OPENAS_NOTYPE_NT4 DIALOG 0, 0, 212, 209
CAPTION "開啟檔案"
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 9, "新細明體"
{
    LTEXT "按一下要用來開啟 '%s"" 這個檔案的程式。\n如果要用的程式不在清單中，請按「其它」。", IDD_TEXT, 7, 5, 199, 24, NOT WS_GROUP
    LTEXT "'%s' 的說明(&D):", IDD_DESCRIPTIONTEXT, 7, 35, 169, 8
    EDITTEXT IDD_DESCRIPTION, 7, 45, 197, 14, ES_AUTOHSCROLL
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 7, 65, 169, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 76, 197, 78
    AUTOCHECKBOX "永遠用這個程式來開啟這個檔案(&U)", IDD_MAKEASSOC, 7, 161, 198, 10
    DEFPUSHBUTTON "確定", IDOK, 47, 187, 50, 14, WS_DISABLED
    PUSHBUTTON "取消", IDCANCEL, 101, 187, 49, 14
    PUSHBUTTON "其它(&T)...", IDD_OPENWITH_BROWSE, 155, 187, 50, 14
}

// Custom generated by an LLM for zh-TW; protocol variant based on DLG_OPENAS_NT4
DLG_OPENAS_PROTOCOL_NT4 DIALOG 0, 0, 232, 179
CAPTION "開啟通訊協定"
STYLE DS_CONTEXTHELP | DS_SETFOREGROUND | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 9, "新細明體"
{
    LTEXT "選擇要用的程式(&C):", IDC_STATIC, 7, 36, 189, 8
    CONTROL "", IDD_APPLIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT | WS_TABSTOP, 7, 46, 217, 78
    LTEXT "按一下要用來開啟通訊協定 '%s' 的程式。", IDD_TEXT, 7, 7, 218, 24, NOT WS_GROUP
    AUTOCHECKBOX "永遠用這個程式來處理這個通訊協定(&U)", IDD_MAKEASSOC, 7, 131, 218, 10
    DEFPUSHBUTTON "確定", IDOK, 121, 157, 50, 14, WS_DISABLED
    PUSHBUTTON "取消", IDCANCEL, 175, 157, 50, 14
}