#include <windows.h>
#include "resource.h"

IDI_OPENWITHEXCONFIG  ICON  "res\\OpenWithExConfig.ico"

IDD_OPENWITHEXCONFIG DIALOGEX 0, 0, 197, 93
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OpenWithEx Configuration"
FONT 8, "MS Shell Dlg"
{
	LTEXT "Style:", -1, 7, 7, 183, 8
	COMBOBOX IDD_STYLEBOX, 7, 18, 183, 18, CBS_DROPDOWNLIST
	DEFPUSHBUTTON "OK", IDOK, 32, 70, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 86, 70, 50, 14
	PUSHBUTTON "&Apply", IDD_APPLY, 140, 70, 50, 14
}
