#pragma code_page(65001) // enable UTF-8

#include <windows.h>
#include "resource.h"

LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY

IDD_OPENWITHEXCONFIG DIALOGEX 0, 0, 197, 93
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OpenWithEx Seçenekleri"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Tarz:", -1, 7, 7, 183, 8
    COMBOBOX IDD_STYLEBOX, 7, 18, 183, 18, CBS_DROPDOWNLIST
	LTEXT "OpenWithEx %s", IDD_VERSION, 7, 57, 183, 8
    DEFPUSHBUTTON "Tamam", IDOK, 32, 70, 50, 14
    PUSHBUTTON "İptal", IDCANCEL, 86, 70, 50, 14
    PUSHBUTTON "&Uygula", IDD_APPLY, 140, 70, 50, 14
}