#include <windows.h>
#include "resource.h"
#include "openwithex.h"

IDI_OPENWITHEXCONFIG  ICON  "res\\OpenWithExConfig.ico"

#include <ntverp.h>
#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR             "aubymori"
#undef  VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR             "OpenWithEx Configurator"
#define VER_FILEDESCRIPTION_STR         "OpenWithEx Configurator"
#define VER_INTERNALNAME_STR            "OpenWithExConfig"
#define VER_LEGALCOPYRIGHT_YEARS        "2025"
#define VER_ORIGINALFILENAME_STR        "OpenWithExConfig.exe"
#undef  VER_PRODUCTVERSION
#define VER_PRODUCTVERSION              VER_MAJOR,VER_MINOR,VER_REVISION,0
#undef  VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR          VER_STRING
#include <common.ver>

/**
  * !!! DON'T INCLUDE OTHER LOCALES HERE !!!
  * For whatever reason, if you compile an RC file with resources
  * for more than one language, the RC compiler refuses to output
  * an MUI file and instead outputs everything in one language
  * neutral file. The en-US locale is built along with the main
  * project just to get an MUI checksum to copy to all the other
  * MUI files.
  */
#include "openwithexconfig.en-US.rc"