#include <windows.h>
#include "resource.h"

LANGUAGE LANG_RUSSIAN, 0x1

IDD_OPENWITHEXCONFIG DIALOGEX 0, 0, 197, 93
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Конфигурация OpenWithEx"
FONT 8, "MS Shell Dlg"
{
	LTEXT "Стиль:", -1, 7, 7, 183, 8
	COMBOBOX IDD_STYLEBOX, 7, 18, 183, 18, CBS_DROPDOWNLIST
	LTEXT "OpenWithEx %s", IDD_VERSION, 7, 57, 183, 8
	DEFPUSHBUTTON "ОК", IDOK, 32, 70, 50, 14
	PUSHBUTTON "Отмена", IDCANCEL, 86, 70, 50, 14
	PUSHBUTTON "&Применить", IDD_APPLY, 140, 70, 50, 14
}