#pragma code_page(65001) // enable UTF-8

#include <windows.h>
#include "resource.h"

IDD_OPENWITHEXCONFIG DIALOGEX 0, 0, 197, 93
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OpenWithEx 구성"
FONT 9, "굴림"
{
	LTEXT "스타일:", -1, 7, 7, 183, 8
	COMBOBOX IDD_STYLEBOX, 7, 18, 183, 18, CBS_DROPDOWNLIST
	DEFPUSHBUTTON "확인", IDOK, 32, 70, 50, 16
	PUSHBUTTON "취소", IDCANCEL, 86, 70, 50, 16
	PUSHBUTTON "적용(&A)", IDD_APPLY, 140, 70, 50, 16
}