#pragma code_page(65001) // enable UTF-8

#include "openwithex.h"

LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

STRINGTABLE
{
	IDS_ERR_EMBEDDING  "지원되지 않는 작업"                              // Custom string.
	IDS_ERR_NOPATH     "경로가 지정되지 않았습니다."                                    // Custom string.
	IDS_ERR_UNDOC      "필요한 문서화되지 않은 함수를 찾을 수 없습니다." // Custom string.
	IDS_RECOMMENDED    "권장하는 프로그램" // shell32 7600 resource #29952
	IDS_OTHER          "기타 프로그램"       // shell32 7600 resource #29953
	IDS_RECOMMENDED_XP "권장하는 프로그램:" // shell32 2600/3790 resource #29952
	IDS_OTHER_XP       "기타 프로그램:"       // shell32 2600/3790 resource #29953
	IDS_PROGRAMS       "프로그램"  // Broken up from shell32 7600 resource #9014
	IDS_ALLFILES       "모든 파일" // Broken up from shell32 7600 resource #9014
	IDS_BROWSETITLE    "연결 프로그램..." // shell32 7600 resource #9016
	IDS_BROWSETITLE_XP "연결 프로그램..." // shell32 2600/3790 resource #9016
}

// shell32 7600 resource #1063
IDD_OPENWITH DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 18, 22
	CONTROL "이 파일을 열 때 사용할 프로그램을 선택하십시오.", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 9
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 22, 30, 9
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 77, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
	CONTROL "이 종류의 파일을 열 때 항상 선택된 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 265, 10 
	CONTROL "찾아보기(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 301, 210, 66, 16
	CONTROL "원하는 프로그램이 이 목록 또는 사용자 컴퓨터에 없는 경우 <A ID=""Browse"">웹에서 프로그램</A>을 찾아볼 수 있습니다.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 17
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 253, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 253, 50, 16
}

// shell32 7600 resource #1070
IDD_OPENWITH_WITHDESC DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 18, 22
	CONTROL "이 파일을 열 때 사용할 프로그램을 선택하십시오.", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 20, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
	CONTROL "이 파일 형식에 사용할 설명(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 182, 361, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 193, 346, 14
	CONTROL "이 종류의 파일을 열 때 항상 선택된 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 202, 10
	CONTROL "찾아보기(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14
	CONTROL "원하는 프로그램이 목록 또는 사용자 컴퓨터에 없으면 <A ID=""Browse"">웹에서 적절한 프로그램을 찾아볼 수 있습니다</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14
}

// shell32 7600 resource #1072
IDD_OPENWITH_PROTOCOL DIALOGEX 0, 0, 375, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 프로토콜을 열 때 사용할 프로그램 선택:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "프로토콜:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
	CONTROL "이 프로토콜을 처리할 때 항상 선택한 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 185, 202, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 200, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 200, 50, 14
}

// shell32 2600/3790 resource #1063
IDD_OPENWITH_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 파일을 열 때 사용할 프로그램을 선택하십시오.", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 20, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8
	CONTROL "프로그램(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "이 종류의 파일을 열 때 항상 선택된 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "찾아보기(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14
	CONTROL "원하는 프로그램이 목록 또는 사용자 컴퓨터에 없으면 <A ID=""Browse"">웹에서 적절한 프로그램을 찾아볼 수 있습니다</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14
}

// shell32 2600/3790 resource #1070
IDD_OPENWITH_WITHDESC_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 파일을 열 때 사용할 프로그램을 선택하십시오.", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 20, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8
	CONTROL "프로그램(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 99, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "이 파일 형식에 사용할 설명(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 152, 195, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 18, 163, 205, 14
	CONTROL "이 파일 형식을 열 때 항상 선택한 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "찾아보기(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14
	CONTROL "원하는 프로그램이 목록 또는 사용자 컴퓨터에 없으면 <A ID=""Browse"">웹에서 적절한 프로그램을 찾아볼 수 있습니다</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14
}

// Custom; XP did not support protocols.
IDD_OPENWITH_PROTOCOL_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 프로토콜을 열 때 사용할 프로그램 선택:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 9
	CONTROL "프로토콜:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 9
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 181, 8
	CONTROL "프로그램(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "이 프로토콜을 처리할 때 항상 선택한 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14
}


// shell32 2195 resource #1063
IDD_OPENWITH_2K DIALOGEX 0, 0, 201, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "'%s' 파일을 열 때 사용할 프로그램을 선택하십시오.\n원하는 프로그램이 목록에 없으면 [기타]를 선택하십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 5, 158, 34
	CONTROL "사용할 프로그램을 선택하십시오(&C).", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 45, 158, 9
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 56, 158, 80
	CONTROL "이 파일을 열 때 항상 이 프로그램을 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 140, 164, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 154, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 154, 50, 16
	CONTROL "기타(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 154, 50, 16
}

// shell32 2195 resource #1070
IDD_OPENWITH_WITHDESC_2K DIALOGEX 0, 0, 215, 209
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램..."
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 20, 20
	CONTROL "'%s'을(를) 열 때 사용할 프로그램을 선택하십시오.\n원하는 프로그램이 없으면 [기타]를 선택하십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 4, 178, 26
	CONTROL "파일 형식 설명(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 35, 88, 9
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 50, 172, 14
	CONTROL "사용할 프로그램을 선택하십시오(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 27, 65, 132, 9
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 76, 178, 78
	CONTROL "이 파일을 열 때 항상 이 프로그램을 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 161, 171, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 187, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 187, 50, 16
	CONTROL "기타(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 187, 50, 16
}

// Custom; 2000 did not support protocols.
IDD_OPENWITH_PROTOCOL_2K DIALOGEX 0, 0, 215, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "'%s'을(를) 열 때 사용할 프로그램을 선택하십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 5, 158, 34
	CONTROL "사용할 프로그램을 선택하십시오(&C).", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 45, 158, 9
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 56, 158, 80
	CONTROL "이 프로토콜을 처리할 때 항상 선택한 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 140, 164, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 154, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 154, 50, 16
}

// shell32 1381 resource #1063
IDD_OPENWITH_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL "사용할 프로그램을 선택하십시오(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 34, 115, 10
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 46, 197, 78
	CONTROL "'%s' 파일을 여는데 사용할 프로그램을 선택하십시오.\n목록에 원하는 프로그램이 없으면 [기타]를 누르십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 24
	CONTROL "이 형식의 파일을 열 때 항상 이 프로그램 사용(&U)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 198, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 157, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 157, 50, 16
	CONTROL "기타(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 16
}

// shell32 1381 resource #1070
IDD_OPENWITH_WITHDESC_NT4 DIALOG 0, 0, 212, 209
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL "%s' 파일을 여는데 사용할 프로그램을 선택하십시오. \n목록에 원하는 프로그램이 없으면 [기타]를 누르십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 199, 24
	CONTROL "'%s' 파일의 설명(&D):", IDD_OPENWITH_EXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 32, 115, 10
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 45, 197, 14
	CONTROL "사용할 프로그램을 선택하십시오(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 66, 195, 10
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 76, 197, 78
	CONTROL "이 파일을 열 때 항상 이 프로그램 사용(&U)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 161, 198, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 20, 187, 48, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 187, 48, 16
	CONTROL "기타(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 187, 48, 16
}

// Custom; NT 4.0 did not support protocols.
IDD_OPENWITH_PROTOCOL_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "연결 프로그램"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL "사용할 프로그램을 선택하십시오(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 34, 115, 10
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 46, 197, 78
	CONTROL "'%s' 파일을 여는데 사용할 프로그램을 선택하십시오.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 24
	CONTROL "이 프로토콜을 처리할 때 항상 선택한 프로그램 사용(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 198, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 101, 157, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 16
}

// shell32 7600 resource #1091
IDD_CANTOPEN DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 파일을 열 수 없습니다.	", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 12
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 23, 8
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 23, 198, 8
	CONTROL "이 파일을 열 수 있는 프로그램을 선택해야 합니다. 온라인에서 해당 파일을 열 수 있는 프로그램을 자동으로 검색하거나 컴퓨터에 설치되어 있는 프로그램 목록 중에서 사용자가 직접 선택할 수 있습니다.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 39, 262, 25
	CONTROL "원하는 작업을 선택하십시오.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 70, 139, 9
	CONTROL "온라인에서 프로그램 검색(&W)", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 194, 10
	CONTROL "설치된 프로그램 목록에서 프로그램 선택(&S)", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 100, 194, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 16
}

// shell32 2600/3790 resource #1091
IDD_CANTOPEN_XP DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "이 파일 열 수 없음:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "파일:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 20, 8
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8
	CONTROL "이 파일을 열려면 어떤 프로그램에서 만든 것인지 알아야 합니다. Windows에서 온라인으로 자동 조회하거나 사용자가 컴퓨터의 프로그램 목록에서 직접 선택할 수 있습니다.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 257, 24
	CONTROL "원하는 작업을 선택하십시오.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 72, 139, 8
	CONTROL "[웹] 서비스를 사용하여 적절한 항목 찾기(&W)", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 194, 10
	CONTROL "목록에서 프로그램 선택(&S)", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 194, 10
	CONTROL "확인", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 14
	CONTROL "취소", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 14
}

// shell32 7600 resource #1103
IDD_NOOPEN DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "주의"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "'%s'(%s) 파일 형식을 열려고 합니다.", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 6, 225, 17
	CONTROL "이 파일은 운영 체제 또는 다른 프로그램에서 사용하고 있습니다. 파일을 편집하거나 수정하면 시스템에 손상을 줄 수 있습니다.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 28, 225, 17
	CONTROL "계속 이 파일을 열려면 [연결 프로그램]을 클릭하고 그렇지 않으면 [취소]를 클릭하십시오.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 52, 225, 17
	CONTROL "연결 프로그램(&O)...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 75, 74, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 75, 53, 16
}

// shell32 2600/3790 resource #1103
IDD_NOOPEN_XP DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "주의"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "%s'(%s) 파일 형식을 열려고 합니다.", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 7, 225, 19
	CONTROL "이 파일은 운영 체제 또는 다른 프로그램에서 사용하고 있습니다. 파일을 편집하거나 수정하면 시스템에 손상을 줄 수 있습니다.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 28, 225, 19
	CONTROL "계속 이 파일을 열려면 [연결 프로그램]을 클릭하고 그렇지 않으면 [취소]를 클릭하십시오.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 52, 225, 19
	CONTROL "연결 프로그램(&O)...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 75, 78, 16
	CONTROL "취소", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 75, 53, 16
}
