#pragma code_page(65001) // enable UTF-8

#include "openwithex.h"

LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY

STRINGTABLE
{
	IDS_ERR_EMBEDDING  "Bu işlem desteklenmiyor"                     // Custom string.
	IDS_ERR_NOPATH     "Yol belirtilmedi"                            // Custom string.
	IDS_ERR_UNDOC      "Gerekli olan belgesiz bir işlev bulunamadı." // Custom string.
	IDS_RECOMMENDED    "\xD6nerilen Programlar" // shell32 7600 resource #29952
	IDS_OTHER          "Diğer Programlar"       // shell32 7600 resource #29953
	IDS_RECOMMENDED_XP "\xD6nerilen Programlar:" // shell32 2600/3790 resource #29952
	IDS_OTHER_XP       "Diğer Programlar:"       // shell32 2600/3790 resource #29953
	IDS_PROGRAMS       "Programlar"    // Broken up from shell32 7600 resource #9014
	IDS_ALLFILES       "Tüm Dosyalar"  // Broken up from shell32 7600 resource #9014
	IDS_BROWSETITLE    "Birlikte aç..." // shell32 7600 resource #9016
	IDS_BROWSETITLE_XP "Birlikte Aç..." // shell32 2600/3790 resource #9016
}

// shell32 7600 resource #1063
IDD_OPENWITH DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu dosyayı açmak için kullanacağınız programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 23, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170 
   CONTROL "&Bu tür dosyaları açmak içi&n her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 299, 10 
   CONTROL "&Gözat...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14 
   CONTROL "İstediğiniz program listede ya da bilgisayarda yoksa, <A ID=""Browse"">uygun programı Web'de arayabilirsiniz</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14 
}

// shell32 7600 resource #1070
IDD_OPENWITH_WITHDESC DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu dosyayı açmak için kullanacağınız programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 32, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144 
   CONTROL "Bu tür &dosyalarla kullanmak istediğiniz açıklamayı yazın:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 182, 361, 8 
   CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 193, 346, 14 
   CONTROL "&Bu tür dosyaları açmak içi&n her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 202, 10 
   CONTROL "&Gözat...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14 
   CONTROL "İstediğiniz program listede ya da bilgisayarda yoksa, <A ID=""Browse"">uygun programı Web'de arayabilirsiniz</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14 
}

// shell32 7600 resource #1072
IDD_OPENWITH_PROTOCOL DIALOGEX 0, 0, 375, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu protokolü açmak için kullanmak istediğiniz programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Protokol:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 208, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144 
   CONTROL "&Bu protokolü yürütmek için &her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 185, 202, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 200, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 200, 50, 14 
}

// shell32 2600/3790 resource #1063
IDD_OPENWITH_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu dosyayı açmak için kullanacağınız programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 24, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "&Programlar", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129 , TVS_EX_DIMMEDCHECKBOXES
   CONTROL "&Bu tür dosyaları açmak içi&n her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10 
   CONTROL "&Gözat...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14 
   CONTROL "İstediğiniz program listede ya da bilgisayarda yoksa, <A ID=""Browse"">uygun programı Web'de arayabilirsiniz</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14 
}

// shell32 2600/3790 resource #1070
IDD_OPENWITH_WITHDESC_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu dosyayı açmak için kullanacağınız programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 22, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "&Programlar", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 15, 36, 245, 181 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 99 , TVS_EX_DIMMEDCHECKBOXES
   CONTROL "Bu tür &dosyalarla kullanmak istediğiniz açıklamayı yazın:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 152, 195, 8 
   CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 18, 163, 205, 14 
   CONTROL "&Bu tür dosyaları açmak içi&n her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10 
   CONTROL "&Gözat...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14 
   CONTROL "İstediğiniz program listede ya da bilgisayarda yoksa, <A ID=""Browse"">uygun programı Web'de arayabilirsiniz</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14 
}

// Custom; XP did not support protocols.
IDD_OPENWITH_PROTOCOL_XP DIALOGEX 0, 0, 260, 226
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Bu protokolü açmak için kullanmak istediğiniz programı seçin:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Protokol:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8 
   CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 208, 8 
   CONTROL "&Programlar", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 164 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129 , TVS_EX_DIMMEDCHECKBOXES
   CONTROL "&Bu protokolü yürütmek için &her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 206, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 206, 50, 14 
}

// shell32 2195 resource #1063
IDD_OPENWITH_2K DIALOGEX 0, 0, 227, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.\nEğer istediğiniz program listede yoksa, Diğer'i tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 3, 188, 33 
   CONTROL "&Kullanmak istediğiniz programı seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 39, 158, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 50, 158, 80 
   CONTROL "&Bu dosyaları açmak içi&n her zaman bu programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 136, 227, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 154, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 89, 154, 50, 14 
   CONTROL "&Diğer...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 154, 50, 14 
}

// shell32 2195 resource #1070
IDD_OPENWITH_WITHDESC_2K DIALOGEX 0, 0, 229, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 20, 20 
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.\nEğer istediğiniz program listede yoksa, Diğer'i tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 7, 172, 27 
   CONTROL "&Bu tür d&osyaların açıklaması:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 39, 172, 8 
   CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 50, 172, 14 
   CONTROL "&Kullanmak istediğiniz programı seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 70, 172, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 81, 172, 80 
   CONTROL "&Bu dosyaları açmak içi&n her zaman bu programı kullan", 13577, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 166, 227, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 188, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 188, 50, 14 
   CONTROL "&Diğer...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 158, 188, 50, 14 
}

// Custom; 2000 did not support protocols.
IDD_OPENWITH_PROTOCOL_2K DIALOGEX 0, 0, 227, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 3, 188, 33 
   CONTROL "&Kullanmak istediğiniz programı seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 39, 172, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 50, 158, 80 
   CONTROL "&Bu dosyaları açmak içi&n her zaman bu programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 136, 165, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 101, 157, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14 
}

// shell32 1381 resource #1063
IDD_OPENWITH_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL "&Kullanmak istediğiniz programı &seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 36, 169, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 46, 197, 78 
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.\nEğer istediğiniz program listede yoksa, Diğer'i tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 24 
   CONTROL "Bu dosya türünü açma&k için her zaman bu programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 198, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 157, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 157, 50, 14 
   CONTROL "&Diğer...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14 
}

// shell32 1381 resource #1070
IDD_OPENWITH_WITHDESC_NT4 DIALOG 0, 0, 212, 209
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.\nEğer istediğiniz program listede yoksa, Diğer'i tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 199, 24 
   CONTROL "'%s' d&osyalarının tanımı:", IDD_OPENWITH_EXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 32, 169, 8 
   CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 45, 197, 14 
   CONTROL "&Kullanmak istediğiniz programı &seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 66, 169, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 76, 197, 78 
   CONTROL "Bu dosyayı açma&k için her zaman bu programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 161, 198, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 187, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 187, 49, 14 
   CONTROL "&Diğer...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 187, 50, 14 
}

// Custom; NT 4.0 did not support protocols.
IDD_OPENWITH_PROTOCOL_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Birlikte Aç"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL "&Kullanmak istediğiniz programı &seçin:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 36, 169, 8 
   CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 46, 197, 78 
   CONTROL "'%s' dosyasını açmak için kullanmak istediğiniz programı tıklatın.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 24 
   CONTROL "&Bu protokolü yürütmek için &her zaman seçili programı kullan", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 198, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 101, 157, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14 
}

// shell32 7600 resource #1091
IDD_CANTOPEN DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Windows şu dosyayı açamıyor:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 27, 8 
   CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "Windows'un bu dosyayı açması için dosyayı açma işleminde kullanmak istediğiniz programı bilmesi gerekiyor. Windows bu programı belirlemek üzere çevrimiçi olabilir veya bilgisayarınızda yüklü olan programlar listesinden kendiniz bu programı seçebilirsiniz.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 257, 33 
   CONTROL "Ne yapmak istiyorsunuz?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 76, 139, 8 
   CONTROL "Doğru pr&ogramı bulmak için Web hizmetini kullanmak", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 90, 194, 10 
   CONTROL "&Yüklü programlar li&stesinden program seçmek", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 103, 194, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 14 
}

// shell32 2600/3790 resource #1091
IDD_CANTOPEN_XP DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "Windows şu dosyayı açamıyor:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
   CONTROL "Dosya:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 27, 8 
   CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 23, 208, 8 
   CONTROL "Windows'un bu dosyayı açması için dosyayı açma işleminde kullanmak istediğiniz programı bilmesi gerekiyor. Windows bu programı belirlemek üzere çevrimiçi olabilir veya bilgisayarınızda yüklü olan programlar listesinden kendiniz bu programı seçebilirsiniz.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 257, 33 
   CONTROL "Ne yapmak istiyorsunuz?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 76, 139, 8 
   CONTROL "Doğru pr&ogramı bulmak için Web hizmetini kullanmak", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 90, 194, 10 
   CONTROL "&Yüklü programlar li&stesinden program seçmek", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 103, 194, 10 
   CONTROL "Tamam", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 14 
}

// shell32 7600 resource #1103
IDD_NOOPEN DIALOGEX 0, 0, 275, 102
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dikkat"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "'%s' (%s) türü bir dosyayı açmaya çalışıyorsunuz", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 7, 225, 19 
   CONTROL "Bu dosyalar işletim sistemi ve çeşitli programlar tarafından kullanılıyor. Bu dosyaları düzenlemek veya değiştirmek sisteminize zarar verebilir.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 30, 225, 19 
   CONTROL "Dosyayı yine de açmak istiyorsanız Birlikte aç'ı, aksi halde İptal'i tıklatın.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 61, 225, 16 
   CONTROL "&Birlikte aç...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 83, 53, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 83, 53, 14 
}

// shell32 2600/3790 resource #1103
IDD_NOOPEN_XP DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dikkat"
LANGUAGE LANG_TURKISH, SUBLANG_TURKISH_TURKEY
FONT 8, "MS Shell Dlg"
{
   CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "'%s' (%s) türü bir dosyayı açmaya çalışıyorsunuz", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 7, 225, 19 
   CONTROL "Bu dosyalar işletim sistemi ve çeşitli programlar tarafından kullanılıyor. Bu dosyaları düzenlemek veya değiştirmek sisteminize zarar verebilir.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 30, 225, 19 
   CONTROL "Dosyayı yine de açmak istiyorsanız Birlikte aç'ı, aksi halde İptal'i tıklatın.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 52, 225, 19 
   CONTROL "&Birlikte Aç...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 74, 53, 14 
   CONTROL "İptal", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 74, 53, 14 
}