#pragma code_page(65001) // enable UTF-8

#include "openwithex.h"

LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

STRINGTABLE
{
	IDS_ERR_EMBEDDING  "サポートされていない操作"                              // Custom string.
	IDS_ERR_NOPATH     "パスが指定されていません"                                    // Custom string.
	IDS_ERR_UNDOC      "必要な文書化されていない関数が見つかりません。" // Custom string.
	IDS_RECOMMENDED    "推奨されたプログラム" // shell32 7600 resource #29952
	IDS_OTHER          "ほかのプログラム"       // shell32 7600 resource #29953
	IDS_RECOMMENDED_XP "推奨されたプログラム:" // shell32 2600/3790 resource #29952
	IDS_OTHER_XP       "ほかのプログラム:"       // shell32 2600/3790 resource #29953
	IDS_PROGRAMS       "プログラム"  // Broken up from shell32 7600 resource #9014
	IDS_ALLFILES       "すべてのファイル" // Broken up from shell32 7600 resource #9014
	IDS_BROWSETITLE    "プログラムから開く..." // shell32 7600 resource #9016
	IDS_BROWSETITLE_XP "プログラムから開く..." // shell32 2600/3790 resource #9016
}

// shell32 7600 resource #1063
IDD_OPENWITH DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "このファイルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 26, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170
	CONTROL "この種類のファイルを開くときは、選択したプログラムをいつも使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 202, 10
	CONTROL "参照(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14
	CONTROL "使用するプログラムが一覧やコンピューターにない場合は、<A ID=""Browse"">適切なプログラムを Web で探す</A>ことができます。", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14
}

// shell32 7600 resource #1070
IDD_OPENWITH_WITHDESC DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "このファイルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 26, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
	CONTROL "このファイルの種類の説明の入力(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 182, 361, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 193, 346, 14
	CONTROL "この種類のファイルを開くときは、選択したプログラムをいつも使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 202, 10
	CONTROL "参照(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14
	CONTROL "使用するプログラムが一覧やコンピューターにない場合は、<A ID=""Browse"">適切なプログラムを Web で探す</A>ことができます。", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14
}

// shell32 7600 resource #1072
IDD_OPENWITH_PROTOCOL DIALOGEX 0, 0, 375, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 19, 18
	CONTROL "このプロトコルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "プロトコル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 208, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144
	CONTROL "このプロトコルを処理するときは、選択したプログラムをいつも使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 185, 215, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 200, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 200, 50, 14
}

// shell32 2600/3790 resource #1063
IDD_OPENWITH_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "このファイルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 25, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 64, 23, 193, 8
	CONTROL "プログラム(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "この種類のファイルを開くときは、選択したプログラムをいつも使う(&A)", 13577, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "参照(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14
	CONTROL "使用するプログラムが一覧やコンピュータにない場合は、<A ID=""Browse"">適切なプログラムを Web で探す</A>ことができます。", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14
}

// shell32 2600/3790 resource #1070
IDD_OPENWITH_WITHDESC_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "このファイルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 24, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 63, 23, 196, 8
	CONTROL "プログラム(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 99, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "このファイルの種類の説明の入力(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 152, 195, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 18, 163, 205, 14
	CONTROL "この種類のファイルを開くときは、選択したプログラムをいつも使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "参照(&B)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14
	CONTROL "使用するプログラムが一覧やコンピュータにない場合は、<A ID=""Browse"">適切なプログラムを Web で探す</A>ことができます。", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14
}

// Custom; XP did not support protocols.
IDD_OPENWITH_PROTOCOL_XP DIALOGEX 0, 0, 260, 226
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くプログラムの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "このプロトコルの種類を開くプログラムを選択してください:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "プロトコル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 208, 8
	CONTROL "プログラム(&P)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 164
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "このプロトコルを処理するときは、選択したプログラムをいつも使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 202, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 206, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 206, 50, 14
}

// shell32 2195 resource #1063
IDD_OPENWITH_2K DIALOGEX 0, 0, 201, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くアプリケーションの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "'%s' を開くアプリケーションを選んでください。\n使いたいアプリケーションが一覧にない場合は、[その他] をクリックしてください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 4, 158, 37
	CONTROL "このファイルを開くアプリケーション(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 44, 158, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 55, 158, 80
	CONTROL "これらのファイルを開くときは、いつもこのアプリケーションを使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 139, 191, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 154, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 154, 50, 14
	CONTROL "その他(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 154, 50, 14
}

// shell32 2195 resource #1070
IDD_OPENWITH_WITHDESC_2K DIALOGEX 0, 0, 215, 209
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイルを開くアプリケーションの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 20, 20
	CONTROL "'%s' を開くアプリケーションを選んでください。\n使いたいアプリケーションが一覧にない場合は、[その他] をクリックしてください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 4, 172, 37
	CONTROL "このファイル タイプの説明(&D):", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 45, 172, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 56, 172, 14
	CONTROL "このファイルを開くアプリケーション(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 76, 172, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 87, 172, 80
	CONTROL "これらのファイルを開くときは、いつもこのアプリケーションを使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 170, 192, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 188, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 188, 50, 14
	CONTROL "その他(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 158, 188, 50, 14
}

// Custom; 2000 did not support protocols.
IDD_OPENWITH_PROTOCOL_2K DIALOGEX 0, 0, 215, 175
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "プロトコルを開くアプリケーションの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 25, 20
	CONTROL "'%s' を開くアプリケーションを選んでください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 172, 27
	CONTROL "このプロトコルを開くアプリケーション(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 39, 172, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 50, 172, 80
	CONTROL "これらのプロトコルを開くときは、いつもこのアプリケーションを使う(&A)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 136, 165, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 154, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 158, 154, 50, 14
}

// shell32 1381 resource #1063
IDD_OPENWITH_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ﾌｧｲﾙを開くｱﾌﾟﾘｹｰｼｮﾝの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS Shell Dlg"
{
	CONTROL "このﾌｧｲﾙを開くｱﾌﾟﾘｹｰｼｮﾝ(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 43, 169, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 53, 197, 71
	CONTROL "ﾌｧｲﾙ '%s' を開くｱﾌﾟﾘｹｰｼｮﾝを選んでください。\n使いたいｱﾌﾟﾘｹｰｼｮﾝが一覧にない場合は、[その他] をｸﾘｯｸしてください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 32
	CONTROL "この種類のﾌｧｲﾙを開くときは、いつもこのｱﾌﾟﾘｹｰｼｮﾝを使う(&U)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 205, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 157, 50, 14
	CONTROL "ｷｬﾝｾﾙ", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 157, 50, 14
	CONTROL "その他(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14
}

// shell32 1381 resource #1070
IDD_OPENWITH_WITHDESC_NT4 DIALOG 0, 0, 212, 209
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ﾌｧｲﾙを開くｱﾌﾟﾘｹｰｼｮﾝの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS Shell Dlg"
{
	CONTROL "ﾌｧｲﾙ '%s' を開くｱﾌﾟﾘｹｰｼｮﾝを選んでください。\n使いたいｱﾌﾟﾘｹｰｼｮﾝが一覧にない場合は、[その他] をｸﾘｯｸしてください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 199, 32
	CONTROL "'%s' ﾌｧｲﾙの説明(&D):", IDD_OPENWITH_EXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 42, 169, 8
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 53, 197, 14
	CONTROL "このﾌｧｲﾙを開くｱﾌﾟﾘｹｰｼｮﾝ(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 74, 169, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 84, 197, 70
	CONTROL "このﾌｧｲﾙを開くときは、いつもこのｱﾌﾟﾘｹｰｼｮﾝを使う(&U)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 161, 198, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 187, 50, 14
	CONTROL "ｷｬﾝｾﾙ", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 187, 49, 14
	CONTROL "その他(&T)...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 187, 50, 14
}

// Custom; NT 4.0 did not support protocols.
IDD_OPENWITH_PROTOCOL_NT4 DIALOG 0, 0, 212, 179
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ﾌﾟﾛﾄｺﾙを開くｱﾌﾟﾘｹｰｼｮﾝの選択"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS Shell Dlg"
{
	CONTROL "このﾌﾟﾛﾄｺﾙを開くｱﾌﾟﾘｹｰｼｮﾝ(&C):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 36, 169, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 46, 197, 78
	CONTROL "ﾌﾟﾛﾄｺﾙ '%s' を開くｱﾌﾟﾘｹｰｼｮﾝを選んでください。", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 24
	CONTROL "このﾌｧｲﾙを開くときは、いつもこのｱﾌﾟﾘｹｰｼｮﾝを使う(&U)", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 198, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 101, 157, 50, 14
	CONTROL "ｷｬﾝｾﾙ", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14
}

// shell32 7600 resource #1091
IDD_CANTOPEN DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 18, 19
	CONTROL "このファイルを開けません:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 26, 8
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 65, 23, 208, 8
	CONTROL "このファイルを開くには、そのためのプログラムが必要です。インターネットで自動的にプログラムを検索するか、またはコンピューターにインストールされたプログラムの一覧から手動で選択してください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 257, 24
	CONTROL "動作を選択してください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 72, 139, 8
	CONTROL "Web サービスを使用して正しいプログラムを探す(&W)", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 194, 10
	CONTROL "インストールされたプログラムの一覧からプログラムを選択する(&S)", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 201, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 14
}

// shell32 2600/3790 resource #1091
IDD_CANTOPEN_XP DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 18, 19
	CONTROL "このファイルを開けません:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8
	CONTROL "ファイル:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 26, 8
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 65, 23, 208, 8
	CONTROL "このファイルを開くには、作成元のプログラム名が必要です。インターネットで自動的にプログラムを検索するか、またはコンピュータにあるプログラム一覧から手動で選択してください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 257, 24
	CONTROL "動作を選択してください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 72, 139, 8
	CONTROL "Web サービスを使用して適切なプログラムを探す(&W)", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 194, 10
	CONTROL "一覧からプログラムを選択する(&S)", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 194, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 121, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 121, 50, 14
}


// shell32 7600 resource #1103
IDD_NOOPEN DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "注意"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "ファイルの種類 '%s' (%s) を開こうとしています。", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 7, 225, 19
	CONTROL "これらのファイルはオペレーティング システムやいろいろなプログラムにより使用されています。これらを編集したり変更したりするとシステムに悪影響をおよぼす可能性があります。", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 29, 219, 24
	CONTROL "ファイルを開く場合は [プログラムから開く] をクリックし、それ以外の場合は [キャンセル] をクリックしてください。", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 54, 226, 19
	CONTROL "プログラムから開く(&O)...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 74, 78, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 74, 53, 14
}

// shell32 2600/3790 resource #1103
IDD_NOOPEN_XP DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "注意"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
FONT 9, "MS UI Gothic", 0, 0, 128
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "ファイルの種類 '%s' (%s) を開こうとしています。", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 7, 225, 19
	CONTROL "これらのファイルはオペレーティング システムやいろいろなプログラムにより使用されています。これらを編集したり変更したりするとシステムに悪影響をおよぼす可能性があります。", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 29, 219, 24
	CONTROL "ファイルを開く場合は [プログラムから開く] をクリックし、それ以外の場合は\n[キャンセル] をクリックしてください。", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 54, 226, 19
	CONTROL "プログラムから開く(&O)...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 74, 78, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 74, 53, 14
}
