#pragma code_page(65001) // enable UTF-8

#include "openwithex.h"

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE
{
	IDS_ERR_EMBEDDING  "Operação não suportada"                                            // Custom string.
	IDS_ERR_NOPATH     "Nenhum caminho especificado"                                       // Custom string.
	IDS_ERR_UNDOC      "Não foi possível encontrar uma função não documentada necessária." // Custom string.
	IDS_RECOMMENDED    "Programas Recomendados" // shell32 7600 resource #29952
	IDS_OTHER          "Outros Programas"       // shell32 7600 resource #29953
	IDS_RECOMMENDED_XP "Programas recomendados:" // shell32 2600/3790 resource #29952
	IDS_OTHER_XP       "Outros programas:"       // shell32 2600/3790 resource #29953
	IDS_PROGRAMS       "Programas"         // Broken up from shell32 7600 resource #9014
	IDS_ALLFILES       "Todos os Arquivos" // Broken up from shell32 7600 resource #9014
	IDS_BROWSETITLE    "Abrir com..." // shell32 7600 resource #9016
	IDS_BROWSETITLE_XP "Abrir com..." // shell32 2600/3790 resource #9016
}

// shell32 7600 resource #1063
IDD_OPENWITH DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Escolha o programa a ser usado para abrir este arquivo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 306, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 41, 8 
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 84, 23, 208, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 170 
	CONTROL "Sempre &usar o programa selecionado para abrir este tipo de arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 308, 10 
	CONTROL "&Procurar...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14 
	CONTROL "Se o programa desejado não estiver na lista ou no computador, você pode <A ID=""Browse"">procurar o programa adequado na Web</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14 
}

// shell32 7600 resource #1070
IDD_OPENWITH_WITHDESC DIALOGEX 0, 0, 375, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Escolha o programa a ser usado para abrir este arquivo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 32, 8 
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 75, 23, 208, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144 
	CONTROL "&Digite uma descrição a ser usada para este tipo de arquivo:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 182, 361, 8 
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 193, 346, 14 
	CONTROL "Sempre &usar o programa selecionado para abrir este tipo de arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 211, 291, 10 
	CONTROL "&Procurar...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 211, 50, 14 
	CONTROL "Se o programa desejado não estiver na lista ou no computador, você pode <A ID=""Browse"">procurar o programa adequado na Web</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 230, 359, 16 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 251, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 251, 50, 14 
}

// shell32 7600 resource #1072
IDD_OPENWITH_PROTOCOL DIALOGEX 0, 0, 375, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Escolha o programa a ser usado para abrir este protocolo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
	CONTROL "Protocolo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 43, 8 
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 83, 23, 208, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 36, 361, 144 
	CONTROL "&Sempre usar o programa selecionado para lidar com este protocolo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 185, 285, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 200, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 200, 50, 14 
}

// shell32 2600/3790 resource #1063
IDD_OPENWITH_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Escolha o programa a ser usado para abrir este arquivo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 215, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 27, 8 
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 187, 8 
	CONTROL "P&rogramas", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129 , TVS_EX_DIMMEDCHECKBOXES
	CONTROL "Sempre &usar o programa selecionado para abrir este tipo de arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 228, 10 
	CONTROL "&Procurar...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14 
	CONTROL "Se o programa desejado não estiver na lista ou no computador, você pode <A ID=""Browse"">procurar o programa adequado na Web</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 251, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 251, 50, 14 
}

// shell32 2600/3790 resource #1070
IDD_OPENWITH_WITHDESC_XP DIALOGEX 0, 0, 260, 271
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Escolha o programa a ser usado para abrir este arquivo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 176, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 27, 8 
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 23, 184, 8 
	CONTROL "P&rogramas", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 181 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 99 , TVS_EX_DIMMEDCHECKBOXES
	CONTROL "&Digite uma descrição a ser usada para este tipo de arquivo:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 152, 188, 8 
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 18, 163, 205, 14 
	CONTROL "Sempre &usar o programa selecionado para abrir este tipo de arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 228, 10 
	CONTROL "&Procurar...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 196, 50, 14 
	CONTROL "Se o programa desejado não estiver na lista ou no computador, você pode <A ID=""Browse"">procurar o programa adequado na Web</A>.", IDD_OPENWITH_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 222, 242, 16 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 251, 46, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 251, 46, 14 
}

// Custom; XP did not support protocols.
IDD_OPENWITH_PROTOCOL_XP DIALOGEX 0, 0, 260, 226
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20
	CONTROL "Escolha o programa a ser usado para abrir este protocolo:", 12291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 215, 8
	CONTROL "Protocolo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 43, 8
	CONTROL "", IDD_OPENWITH_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 70, 23, 187, 8
	CONTROL "P&rogramas", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 36, 245, 164
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysTreeView32", TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 225, 129, TVS_EX_DIMMEDCHECKBOXES
	CONTROL "&Sempre usar o programa selecionado para lidar com este protocolo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 183, 228, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 206, 50, 14
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 206, 50, 14
}


// shell32 2195 resource #1063
IDD_OPENWITH_2K DIALOGEX 0, 0, 230, 176
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Clique no programa a ser usado para abrir '%s'.\nSe o programa não estiver na lista, clique em 'Outros'.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 5, 187, 40 
	CONTROL "&Escolha o programa que deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 48, 178, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 60, 176, 80 
	CONTROL "&Usar sempre este programa para abrir estes arquivos", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 144, 190, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 157, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 157, 50, 14 
	CONTROL "&Outros...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 157, 50, 14 
}

// shell32 2195 resource #1070
IDD_OPENWITH_WITHDESC_2K DIALOGEX 0, 0, 219, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com..."
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 20, 20 
	CONTROL "Clique no programa a ser usado para abrir '%s'.\nSe o programa não estiver na lista, clique em 'Outros'.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 7, 172, 32 
	CONTROL "&Descrição dos arquivos deste tipo:", 13576, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 42, 172, 8 
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 53, 176, 14 
	CONTROL "&Escolha o programa que deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 73, 172, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 84, 176, 80 
	CONTROL "&Usar sempre este programa para abrir estes arquivos", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 169, 180, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 188, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 188, 50, 14 
	CONTROL "&Outros...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 188, 50, 14 
}

// Custom; 2000 did not support protocols.
IDD_OPENWITH_PROTOCOL_2K DIALOGEX 0, 0, 235, 176
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_OPENWITH_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 25, 20
	CONTROL "Clique no programa a ser usado para abrir '%s'.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 5, 172, 40
	CONTROL "&Escolha o programa que deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 48, 172, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 60, 176, 80
	CONTROL "&Usar sempre este programa para lidar com este protocolo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 144, 195, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 157, 50, 14
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 157, 50, 14
}

// shell32 1381 resource #1063
IDD_OPENWITH_NT4 DIALOG 0, 0, 212, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL "&Escolha o programa que você deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 44, 140, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 55, 197, 78 
	CONTROL "Clique no programa que você deseja usar para abrir o arquivo '%s'. Se o programa desejado não estiver na lista, clique em Outros.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 33 
	CONTROL "&Usar sempre este programa para abrir este tipo de arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 139, 201, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 157, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 157, 50, 14 
	CONTROL "Ou&tros...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14 
}

// shell32 1381 resource #1070
IDD_OPENWITH_WITHDESC_NT4 DIALOG 0, 0, 212, 209
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL "Clique no programa que você deseja usar para abrir o arquivo '%s'. Se o programa desejado não estiver na lista, clique em Outros.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 199, 33 
	CONTROL "&Descrição de arquivos '%s':", IDD_OPENWITH_EXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 44, 198, 8 
	CONTROL "", IDD_OPENWITH_DESC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 55, 197, 14 
	CONTROL "&Escolha o programa que você deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 74, 140, 8 
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 84, 197, 78 
	CONTROL "&Usar sempre este programa para abrir este arquivo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 168, 176, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 47, 187, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 187, 49, 14 
	CONTROL "Ou&tros...", IDD_OPENWITH_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 187, 50, 14 
}

// Custom; NT 4.0 did not support protocols.
IDD_OPENWITH_PROTOCOL_NT4 DIALOG 0, 0, 212, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_SETFOREGROUND | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir com"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL "&Escolha o programa que você deseja usar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 44, 140, 8
	CONTROL "", IDD_OPENWITH_PROGLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 55, 197, 78
	CONTROL "Clique no programa que você deseja usar para abrir '%s'.", IDD_OPENWITH_TEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 198, 33
	CONTROL "&Usar sempre este programa para lidar com este protocolo", IDD_OPENWITH_ASSOC, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 139, 201, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 101, 157, 50, 14
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 157, 50, 14
}

// shell32 7600 resource #1091
IDD_CANTOPEN DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "O Windows não pode abrir este arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8 
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 69, 23, 203, 8 
	CONTROL "O Windows precisa saber com qual programa o arquivo deve ser aberto. Ele pode procurar automaticamente pelo programa online ou você pode selecioná-lo em uma lista de programas instalados no computador.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 260, 25 
	CONTROL "O que você deseja fazer?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 72, 161, 8 
	CONTROL "Usar o serviço da &Web para encontrar o programa correto", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 242, 10 
	CONTROL "&Selecionar um programa em uma lista de programas instalados", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 257, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 122, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 122, 50, 14 
}

// shell32 2600/3790 resource #1091
IDD_CANTOPEN_XP DIALOGEX 0, 0, 279, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL 0, IDD_CANTOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "O Windows não pode abrir este arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 7, 208, 8 
	CONTROL "Arquivo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 23, 30, 8 
	CONTROL "", IDD_CANTOPEN_FILE, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 69, 23, 203, 8 
	CONTROL "Para abrir o arquivo, o Windows precisa saber com que programa ele foi criado. O Windows pode se conectar à Internet para procurar o programa automaticamente ou você pode selecioná-lo em uma lista no computador.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 39, 260, 25 
	CONTROL "O que você deseja fazer?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 72, 82, 8 
	CONTROL "Use o serviço da &Web para encontrar o programa apropriado", IDD_CANTOPEN_USEWEB, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 86, 207, 10 
	CONTROL "&Selecionar o programa em uma lista", IDD_CANTOPEN_OPENWITH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 127, 10 
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 122, 50, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 122, 50, 14 
}

// shell32 7600 resource #1103
IDD_NOOPEN DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cuidado"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Você está tentando abrir um arquivo do tipo '%s' (%s)", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 5, 225, 22 
	CONTROL "Estes arquivos são usados pelo sistema operacional e vários outros programas. Editá-los ou modificá-los pode danificar o sistema.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 30, 225, 19 
	CONTROL "Se você ainda deseja abrir o arquivo, clique em Abrir com. Do contrário, clique em Cancelar.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 52, 225, 19 
	CONTROL "&Abrir com...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 74, 53, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 74, 53, 14 
}

// shell32 2600/3790 resource #1103
IDD_NOOPEN_XP DIALOGEX 0, 0, 275, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cuidado"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "MS Shell Dlg"
{
	CONTROL "", IDD_NOOPEN_ICON, STATIC, SS_ICON | SS_REALSIZECONTROL | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
	CONTROL "Você está tentando abrir um arquivo do tipo '%s' (%s)", IDD_NOOPEN_LABEL, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 5, 225, 22 
	CONTROL "Estes arquivos são usados pelo sistema operacional e vários outros programas. Editá-los ou modificá-los pode danificar o sistema.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 30, 225, 19 
	CONTROL "Se você ainda deseja abrir o arquivo, clique em 'Abrir com'. Senão, clique em 'Cancelar'.", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 52, 225, 19 
	CONTROL "A&brir com...", IDD_NOOPEN_OPENWITH, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 74, 53, 14 
	CONTROL "Cancelar", IDCANCEL, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 74, 53, 14 
}
